html {
    height:100%;
}
body {
    margin:0;
}

.bg {
    animation:slide 7s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(255, 255, 255, 0.543) 50%, rgba(255, 250, 146, 0.63) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-2;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
}

.bg3 {
    animation-duration:9s;
}
@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}