@charset "UTF-8";

.main{
    margin-top: 80px;
    margin-bottom: 20%;
}

.btn{
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}

.BTN{
    font-size: 30px;
    background-color: #f37053;
    color: #fff;
    border-radius: 8px;
    padding: .10rem 1.1rem;
    margin-right: 35px;
    margin-left: 1px;
    cursor: pointer;
}

.BTN:hover{
    background-color: #f69679;
}

