@charset "UTF-8";

/* レポートデザイン */
.report-list {
    margin: 20px 0;
}

.time-distribution {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

    .header .time {
        font-size: 1.2em;
    }

    .header .sort {
        color: blue;
        cursor: pointer;
    }

.chart {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.pie-chart {
    width: 100px;
    height: 100px;
    background: conic-gradient(green 0% 100%, #f0f0f0 0%);
    border-radius: 50%;
    margin: 0 auto;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eef4fc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

    .countdown .number {
        font-size: 2em;
        font-weight: bold;
        color: blue;
    }
